@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

* {
    font-family: jost;
    font-size: large;
}

.service_font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.service_font2 {
    font-family: Arial, Helvetica, sans-serif;
}


body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}


body.dark-mode .p-2 {
    background-color: #333;
    color: #fff;
}